body{
    background-color:lightblue;
    margin:1em 10%;
}
a:link{
    text-decoration: none;
    color:black;
    font-size: 1.3em;
}
.theme{
    background-color:transparent;
}
#imagegallery{
    list-style: none;
    padding: 0;
}
#imagegallery li{
    float: left;
    padding: 5px;
}
#holder{
    height: 500px;
    
}
